  {
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-svelte"],
  "svelteIndentScriptAndStyle": true
}
