@import './pallet-depot.scss';

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.app-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  height: 30px;
  display: flex;
  background: $color-menu-bar-backgroud;

  &__item {
    background: none;
    border: none;
    color: $color-menu-bar-item-text;
    padding: 0 10px;
    font-size: 15px;
    user-select: none;

    &:hover {
      cursor: pointer;
      background: $color-menu-bar-item-hovered;
    }
  }

  &__center-tabs {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.pixi-container {
  height: 100%;
  width: 100vw;
  display: flex;
  position: relative;
}
