// Pallet depot for colors, sizes and fonts

$color-background-light: #efefef;

// Menu bar color pallete
$color-menu-bar-backgroud: #222;

$color-menu-bar-item-text: #9d9d9d;
$color-menu-bar-item-hovered: #333;